<a href="https://colab.research.google.com/github/khinthanhtay95/MMDT_T-PY101_Batch03/blob/main/KhinThanHtay/Ex01_Intro_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introduction

This section introduces the Python Programming uisng Colab. Follow the instructions and complete the exercises.

# Ex 1 : Check Version

Using the below cell, Import the required library and check the version of the python in your environment.

In [3]:
import sys
print(sys.version)

3.12.12 (main, Oct 10 2025, 08:52:57) [GCC 11.4.0]

# Ex2 : Convert Currency.

Write a program that asks the user for the amount in usd and converts it to British pounds. The exchange rate is from usd to BP is given as 0.82

In [4]:
usd_amount = input ("Enter the amount in USD: ")
bp_amount = int(usd_amount) *0.82
print("{} usd is equivalent to {} british pound".format(usd_amount, bp_amount))

Enter the amount in USD: 20
20 usd is equivalent to 16.4 british pound

# Ex 3: Temperature Converter

Write a program that convert temperature in Feranhite to celsius.

In [5]:
temp_Feranhite = input ("Enter the temperature in Feranhite: ")
temp_Celsius = int((int(temp_Feranhite) - 32) * 5/9)
print("{} Feranhite is equivalent to {} Celsius".format(temp_Feranhite, temp_Celsius))

Enter the temperature in Feranhite: 50
50 Feranhite is equivalent to 10 Celsius

# Ex 4: Daily Maths

You are working in a retail shop. Write a program that computes the total cost for a customer that bought 3 differnt types of fruits : apple, orange, mango. Ask the user to enter the quantity and price for each type.

In [6]:
qty_apple = int(input ("Enter quantity of Apple :"))
unitPrice_apple = int(input ("Enter unit price of Apple :"))
total_apple = qty_apple * unitPrice_apple

qty_orange = int(input ("Enter quantity of Orange :"))
unitPrice_orange = int(input ("Enter unit price of Orange :"))
total_orange = qty_orange * unitPrice_orange

qty_mango = int(input ("Enter quantity of Mango :"))
unitPrice_mango = int(input ("Enter unit price of Mango :"))
total_mango = qty_mango * unitPrice_mango

total_cost = total_apple + total_orange + total_mango
print ("total cost of 3 different types of fruits :", total_cost)

Enter quantity of Apple :2
Enter unit price of Apple :3
Enter quantity of Orange :5
Enter unit price of Orange :3
Enter quantity of Mango :5
Enter unit price of Mango :7
total cost of 3 different types of fruits : 56

# Ex 5 : Greeting

Write a program to greet the customer who provides the user name. Your program should ask the name of the customer and print "Hello + customer name"

In [7]:
customer_name = input ("Enter your name :")
print("Hello "+ customer_name)

Enter your name :Khin Than Htay
Hello Khin Than Htay

# Ex 6: Random Number
Write a program that generates a random number, x, between 1 and 50, a random number y between 2 and 5, and computes x^y.

In [8]:
from random import randint
x = randint(1,10)
print('A random number between 1 and 10: ', x)

A random number between 1 and 10:  8

# Ex 7: Greet many times.
Write a program that generates a random number between 1 and 10 and prints your name that many times.

In [9]:
from random import randint
x = randint(1,10)
print("Generated random number between 1 and 10: ", x)

name = "Khin Than Htay"
for i in range (x):
    print(name)

Generated random number between 1 and 10:  4
Khin Than Htay
Khin Than Htay
Khin Than Htay
Khin Than Htay

# Ex 8: Computing.
Write a program that asks the user to enter two numbers, x and y, and computes |x-y|/(x+y).

In [10]:
x = int(input ("Enter value of x: "))
y = int(input ("Enter value of y: "))
result = abs(x-y)/(x + y)
print("result of two numbers: ", result)

Enter value of x: 2
Enter value of y: 3
result of two numbers:  0.2

# Ex 9: Computing

Write a program that asks the user for a number of seconds and prints out how many minutes and seconds that is. For instance, 200 seconds is 3 minutes and 20 seconds.

In [12]:
number_of_seconds =  int(input ("Enter number of seconds to compute :"))
minutes = int(number_of_seconds // 60)
seconds = int(number_of_seconds % 60) #modulo for seconds

print("result will be {} minutes and {} seconds".format(minutes, seconds))

Enter number of seconds to compute :6359
result will be 105 minutes and 59 seconds

# Ex 10: Using Math Module

Write a program that asks the user for a number and then prints out the sine, cosine, and tangent of that number.

In [16]:
import math
num = float(input ("Enter a number: "))
sine_value = math.sin(num)
print("Sine value of the number: ", sine_value)
cos_value = math.cos(num)
print("Cos value of the number: ",cos_value)
tan_value = math.tan(num)
print("tangent value of the number: ",tan_value)

Enter a number: 8
Sine value of the number:  0.9893582466233818
Cos value of the number:  -0.14550003380861354
tangent value of the number:  -6.799711455220379